* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
/*Fondo con la imagen del patron */
body {
/* Ancho y alto completo para cubrir toda la ventana */
min-height: 100vh;
width: 100%;
/* Ruta a la imagen de fondo*/
background-image: url(Imagenes/flat-african-pattern-design.png);
background-repeat: cover;
background-position: center;
color: #FFFFFF;
}

/* 2. Capa que desenfoque la imagen del Body y aplica color oscuro*/
.glass-overlay{
min-height: 100vh;
width: 100%;
/*Tinte semitransparente oscuro para contrastar el texto*/
background-color: rgba(0, 0, 0, 0.45);
/* Efecto ESMERILADO sobre imagen del body */
backdrop-filter: blur(12px);
-webkit-backdrop-filter: blur(12px); 
padding: 20px;
text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

/* Estilo del Logo */
.logo{
    height: 200px;
    width: auto;
    display: block; 
    margin: 0 auto;
}

/* Estilo de navegacion y listas */
ul {
font-family: "Fontdiner Swanky", serif;
font-weight: 400;
font-style: normal;
font-size: x-large;
list-style-position: inside;
}

nav a{
    color: #ffffff;
    text-decoration: none;
}

/* Clases auxiliares para las tarjetas */
.bg-white\/5 {
    background-color: rgb(255, 255, 255 / 0.08);
}
.p-6 {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}
.border-white\/10{
    border-color: rgb(255, 255, 255 / 0.15);
}
.border{
    border-style: solid;
    border-width: 1px;
}
.rounded-2x1{
    border-radius: 1rem;
}
.shadow-lg {
    box-shadow: 0 10px 15px -3x rgba(0, 0, 0, 0.3), 0 4px 6px -4px rgba(0, 0, 0, 0.2);
}